<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml"/>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/assets/css/app.css">
    {% block head %}{% endblock %}
  </head>
  <body data-router-wrapper>
    {% block content %}{% endblock content %}
  </body>
</html>
