<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml"/>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/assets/css/app.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <main class="container mx-auto px-4" tabindex="-1" data-barba="wrapper">
      {% include "header.njk" %}
      <div data-barba="container">
        {% block content %}{% endblock content %}
      </div>
      {% include "footer.njk" %}
    </main>
  <script src="/assets/js/app.js"></script>
  </body>
</html>
