---
layout: page
title: Bookmarks
---

<h2>Saved Links and Newsletters</h2>
<p>The last 15 links that I have saved in my <a href="https://pinboard.in/u:blissofbeing/">Pinboard</a> or newsletters.</p>

<h3>Saved Newsletters</h3>
<ul>
  {% for newsletter in feedbin.items %}
    <li>
      {% if 'newsletter' in newsletter.link %}
        <a href="https://newsletters.healingbeats.workers.dev?fb={{envs.fbo}}{{ newsletter.link.replace('https://feedbin.com/entries/', '').replace('newsletter', '') }}" target="_blank">{{newsletter.title}}</a>
      {% else %}
        <a href="{{ newsletter.link }}" target="_blank">{{newsletter.title}}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h3>Saved Links</h3>
<ul>
  {% for post in pinboard.posts %}
    <li>
      <a href="{{ post.href }}" target="_blank">{{post.description}}</a>
      <p>{{post.tags}}</p>
    </li>
  {% endfor %}
</ul>
