---
layout: page
title: Micro Blog
---

<h2>Links</h2>
<p>👷This page is a work in progress. I plan to add my loved feedbin articles here too.</p>
<p>These are my last 15 links that I have saved in my [Pinboard](https://pinboard.in/u:blissofbeing/).</p>
<ul>
  {% for post in pinboard.posts %}
    <li>
      <a href="{{ post.href }}" target="_blank">{{post.description}}</a>
      <p>{{post.tags}}</p>
    </li>
  {% endfor %}
</ul>
