extends layouts/layout

block content
  section.container.mx-auto.max-w-xl.px-10
    h1.text-center.text-5xl.mb-10 Now! 🤸‍♂️
    p.mb-10.text-2xl.leading-tight I'm currently in Hawaii working remotely as a senior software engineer for <a href="https://legitscript.com">LegitScript</a>.
    p.mb-10.text-2xl.leading-tight I write a technical blog <a href="https://medium.com/@waynehoover">here</a> and a more philosophical blog <a href="https://blissofbeing.com" target="_blank">there</a>. I enjoy <a href="https://500px.com/wayneh" target="_blank">taking pictures</a>, <a href="http://www.hooping.org/2013/12/acro-hooping-ashlyn-baum-wayne-hoover/" target="_blank">acroyoga</a>, <a href="https://www.instagram.com/p/BV5eVy-Fmmk/" target="_blank">slacklining</a>, <a href="https://www.instagram.com/p/BL9O2siB8KH" target="_blank">juggling</a> and traveling.
    p.text-2xl.mb-10.leading-tight You can find me on <a href="https://fb.me/waynehoover" target="_blank">FB</a> or <a href="https://instagram.com/blissofbeing" target="_blank">IG</a> or <a href="https://twitter.com/blissofbeing" target="_blank">Twitter</a>

    p: a.text-sm(href="http://nownownow.com/about" target="_blank") nowonownow
