---
layout: page
title: Work With Me
---
<div class="container mx-auto max-w-3xl">
  <section class="px-3 pb-10">
    <p>👋 My name is Wayne. I have been creating on the web for over 10 years. I spealize in full stack web development. I also teach and mentor others on how to build and market their products and services online.</p>
    <p class="pt-5">I am currently accepting contract work, if you have an idea that you would like to see manifested on the web, or a current project that you would like to take to the next level <a href="mailto:w@waynehoover.com">contact me</a>.</p>
  </section>
</div>

<section class="pt-16 home-list container mx-auto flex flex-wrap lg:justify-center">
  <div class="col mx-3 pb-10">
    <h3 class="text-4xl">Selected Portfolio</h3>
    <ul class="list-reset">
      <li class="mt-3"><a href="https://BigIslandBoochKombucha.com">Big Island Booch (Wordpress)</a></li>
      <li class="mt-3"><a href="https://TheBoochBarHilo.com">Conscious Culture Cafe (Wordpress)</a></li>
      <li class="mt-3"><a href="https://ConorandBrittany.com">Conor &amp; Brittany (Wordpress)</a></li>
      <li class="mt-3"><a href="https://MichaelMackintosh.com">Michael Mackintosh (Wordpress)</a></li>
      <li class="mt-3"><a href="https://www.BenchmarkWine.com">Benchmark Wine (Rails)</a></li>
      <li class="mt-3"><a href="http://buffusa.com/">Buff USA (Rails)</a></li>
      <li class="mt-3"><a href="http://www.lessismore.org">Less Is More (Rails)</a></li>
      <li class="mt-3"><a href="http://www.flgpartners.com">FLG Partners (Rails)</a></li>
      <li class="mt-3"><a href="http://www.delloro.com/">Dell'Oro (Rails)</a></li>
      <li class="mt-3"><a href="http://pivot3.com/">Pivot3 (Rails)</a></li>
    </ul>
  </div>
</section>
