doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Wayne Hoover - Full Stack Software Engineer')
    meta(name='author' content='Wayne Hoover')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block title
      title Wayne Hoover

    link(rel="stylesheet" href="https://use.typekit.net/pcg8keu.css")
    link(rel='stylesheet' href='./index.sss')

  body.font-sans
    main
      header.w-full
        div.bg-sha-1.h-12
          a.home(href="/") 🌕
        div.bg-sha-2.h-12.flex.content-center.items-center.justify-center
          h1.text-5xl.leading-none.houtline Wayne Hoover
        div.bg-sha-3.h-12
         nav(class="flex justify-center flex-wrap h-12 content-center items-center")
            a.mr-10.no-underline(target="_blank" href="https://github.com/waynehoover") Github
            a.mr-10.no-underline(target="_blank" href="https://angel.co/waynehoover") AngelList
            a.mr-10.no-underline(target="_blank" href="https://www.linkedin.com/in/waynephoover/") LinkedIn
            a.mr-10.no-underline(href="/resume") Resumé
            a.no-underline(href="mailto:wayne@waynehoover.com") Contact
        div.bg-sha-4.h-12
        block header

      block content

      footer.ml-3.mt-24
        ul.list-reset.flex.justify-left
          li: a(href="/") Home
          li.mx-5: a(href="https://medium.com/@waynehoover" target="_blank") Blog
          li: a(href="/now") Now
