doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Wayne Hoover - Full Stack Software Engineer')
    meta(name='author' content='Wayne Hoover')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block title
      title Wayne Hoover
    link(rel='stylesheet' href='./index.sss')

  body.font-sans
    main
      header.w-full
        div.h-12
          a.home(href="/") ⚡
        div.h-20.flex.content-center.items-center.justify-center
          h1.text-6xl.leading-none.houtline.wayne Wayne Hoover
        div.container.mx-auto.max-w-3xl
          hr.brace
        div.h-16
         nav(class="flex justify-center flex-wrap h-12 content-center items-center")
            a.mr-10.no-underline(target="_blank" href="https://github.com/waynehoover") Github
            a.mr-10.no-underline(target="_blank" href="https://medium.com/@waynehoover") Blog
            a.mr-10.no-underline(target="_blank" href="https://www.linkedin.com/in/waynephoover/") LinkedIn
            a.mr-10.no-underline(href="/resume") Resumé
            a.no-underline(target="_blank" href="https://angel.co/waynehoover") AngelList

        block header

      block content

      footer.ml-3.mt-24
        ul.list-reset.flex.justify-left
          li.mx-5: a(href="/") Home
          li.mx-5: a(href="mailto:wayne@waynehoover.com") Contact
          li.mx-5: a(href="https://kb.waynehoover.com/now") Now
          li.mx-5: a(href="https://kb.waynehoover.com") Personal Wiki
